
:root{
    font-size: 62,5%;
}

.boxes {
    
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.box{
    height: 10rem;
    width: 20rem;
    margin: 1.0rem;
    padding: 1.5rem;
    background-color: aquamarine;
    color: rgb(156, 172, 172);
    border: 8px solid rgb(23, 20, 220);
    display: inline-block;
    border-radius: 0.4rem;
    position: relative;
}